@import "../../../../app/global.scss";

.talent__detsPage {
    .details__container {
        margin: 2rem auto;
        width: 90%;
        max-width: 750px;

        .details__top {
            background: $secondary;
            padding: 2rem;
            margin-bottom: 2rem;
            border-radius: 10px;

            .details__column {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .details__image {
                    width: 6rem;
                    height: 6rem;
                    border-radius: 50%;
                    background: $secondary;
                    position: relative;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }

                .details__row {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    margin-top: 1rem;

                    .user__name {
                        font-size: $font-twenty;
                        font-weight: $font-weight-500;
                        color: $black;
                    }
                    .user__address {
                        font-size: $font-fourteen;
                        font-weight: $font-weight-500;
                        color: $lightGray;
                        display: flex;
                        align-items: center;
                        gap: 0.35rem;
                    }
                }

                .user__title {
                    font-size: $font-twenty;
                    font-weight: $font-weight-500;
                    color: $lightGray;
                }
            }
        }

        .details__bottom {
            .details__box {
                background-color: $secondary;
                padding: 1rem;
                margin-bottom: 2rem;
                border-radius: 10px;

                .title {
                    font-size: $font-twenty;
                    font-weight: $font-weight-500;
                    color: $black;
                    margin-bottom: 0.75rem;
                }

                .text {
                    font-size: $font-sixteen;
                    font-weight: $font-weight-500;
                    color: $lightGray;
                }
            }
        }

        .edit__button {
            width: 100%;
            height: 3rem;
            background: $primary;
            color: $white;
            padding: 1rem;
            font-size: $font-sixteen;
            font-weight: $font-weight-500;
            border-radius: 10px;
        }
    }
}
