@import "../../../app//global.scss";

.blogDetails__page {
    text-align: center;
  
    .blogDetails__title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    .blogDetails__meta {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 10px;
  
      span {
        margin-right: 10px;
      }
    }
  
    .blogDetails__text {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 10px;
    }
  
    .blogDetails__quote {
      font-style: italic;
      margin: 20px 0;
      padding: 10px;
      background-color: #f9f9f9;
      border-left: 4px solid #888;
    }
  
    .blogDetails__tags {
      display: flex;
      justify-content: center;
      margin-top: 20px;
  
      span {
        margin-right: 10px;
        padding: 5px 10px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  }
  