@import "../../../app/global.scss";

.job__grid {
    width: 90%;
    margin: 2rem auto;

    .grid__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $border;
        margin-bottom: 1rem;
        gap: 1rem;

        .header__left {
            .total__jobs {
                font-size: $font-fourteen;

                .job__number {
                    font-weight: $font-weight-600;
                }
            }
        }

        .header__right {
            display: flex;
            gap: 1rem;
            align-items: center;
            position: relative;

            .sort__item {

                .sort__button{

                }

                .show__sort{
                    position: absolute;
                    opacity: 1;
                    visibility: visible;
                    top: 3rem;
                    right: 0;
                    width: 200px;
                    height: fit-content;
                    transition: opacity 0.3s ease-in-out;

                    background-color: $backdrop;
                    box-shadow: $box-shadow-1;
                    padding: 1.5rem;
                    border-radius: 10px;

                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    .item{
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                    }
                }

                .sort__group{
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    top: 3rem;
                    right: 0;
                    width: 200px;
                    height: fit-content;
                    transition: opacity 0.3s ease-in-out;

                    
                }
            }

            .filter {
                

                .filter__button {
                    display: grid;
                    align-content: center;
                    border: 1px solid $primary;
                    border-radius: 10px;
                    padding: 0.5rem;
                    width: 7.5rem;
                    height: 2rem;
                    font-size: $font-fourteen;
                    font-weight: $font-weight-500;
                    color: $black;
                    background-color: transparent;
                }

                .filter__group {
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    top: 3rem;
                    right: 0;
                    width: 530px;
                    height: fit-content;
                    transition: opacity 0.3s ease-in-out;
                }

                .show__filter {
                    position: absolute;
                    opacity: 1;
                    visibility: visible;
                    top: 3rem;
                    right: 0;
                    transition: opacity 0.3s ease-in-out;

                    background-color: $backdrop;
                    box-shadow: $box-shadow-1;
                    width: 530px;
                    height: fit-content;
                    padding: 1.5rem;
                    border-radius: 10px;

                    display: flex;
                    gap: 2rem;

                    .filter__item{
                        label{
                            font-size: $font-fourteen;
                            font-weight: $font-weight-600;
                            margin-bottom: .5rem;
                        }

                        .items{
                            display: flex;
                            flex-direction: column;

                            .check__item{
                                display: flex;
                                align-items: center;
                                gap: .5rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .grid__body{
        display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: 2rem;

      @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }

      @media screen and (min-width: 1200px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
      
        .jobs__card {
            width: 100%;
            border: 1px solid #e0e6f7;
            overflow: hidden;
            margin-bottom: 24px;
            position: relative;
            background: #f8faff;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.85rem;
            padding: 1rem;
            // min-width: 290px;
            max-width: 300px;
    
            .card__info {
              .card__title {
                font-size: $font-eighteen;
                font-weight: $font-weight-600;
                color: $black;
              }
    
              .card__flex {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 0.25rem;
    
                .card__location,
                .card__time {
                  font-size: $font-twelve;
                  color: $lightGray;
                  display: flex;
                  align-items: center;
                  gap: 3px;
                }
              }
    
              .card__tags {
                display: flex;
                gap: 0.5rem;
                margin-top: 1rem;
    
                li {
                  width: fit-content;
                  padding: 0.15rem 0.5rem;
                  background: $accent;
                  color: $black;
                  font-size: $font-twelve;
                  text-align: center;
                  border-radius: 5px;
                }
              }
            }
    
            .card__company {
              display: flex;
              align-items: flex-start;
              gap: 0.5rem;
              border-top: 1px solid $secondary;
              padding-top: 0.75rem;
    
              .card__logo {
                display: flex;
                gap: 0.5rem;
                align-items: flex-start;
    
                img {
                  width: 2rem;
                  height: 2rem;
                  border-radius: 50%;
                  background-color: $secondary;
                }
    
                .company__info {
                  display: block;
    
                  .company__name {
                    font-size: $font-fourteen;
                    font-weight: $font-weight-600;
                    color: $black;
                  }
    
                  .company__location {
                    font-size: $font-twelve;
                    color: $lightGray;
                    display: flex;
                    align-items: center;
                    gap: 3px;
                  }
                }
              }
    
              .company__pay {
                color: $primary;
                font-size: $font-fourteen;
                font-weight: $font-weight-600;
                line-height: 1.2;
              }
            }
          }
    }
}
