@import "../../../app/global.scss";

.job__grid {
    width: 90%;
    margin: 2rem auto;

    .grid__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $border;
        margin-bottom: 1rem;
        gap: 1rem;

        .header__left {
            .total__jobs {
                font-size: $font-fourteen;

                .job__number {
                    font-weight: $font-weight-600;
                }
            }
        }

        .header__right {
            display: flex;
            gap: 1rem;
            align-items: center;
            position: relative;


            .filter {
                .filter__button {
                    display: grid;
                    align-content: center;
                    border: 1px solid #e0e6f7;
                    border-radius: 10px;
                    padding: 0.5rem;
                    width: 7.5rem;
                    height: 2rem;
                    font-size: $font-fourteen;
                    font-weight: $font-weight-500;
                    color: $black;
                    background-color: $secondary;
                    cursor: pointer;

                    &:hover {
                       border-color: $primary;
                    }
                }

                .filter__group {
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    top: 3rem;
                    right: 0;
                    
                    height: fit-content;
                    transition: opacity 0.3s ease-in-out;
                }

                .show__filter {
                    position: absolute;
                    opacity: 1;
                    visibility: visible;
                    top: 3rem;
                    z-index: 9;
                    right: 0;
                    transition: opacity 0.3s ease-in-out;

                    background-color: $backdrop;
                    box-shadow: $box-shadow-1;
                    height: fit-content;
                    padding: 1.5rem;
                    border-radius: 10px;

                    display: flex;
                    gap: 2rem;

                    .filter__item {
                        width: max-content;
                        label {
                            font-size: $font-fourteen;
                            font-weight: $font-weight-600;
                            margin-bottom: 0.5rem;
                        }

                        .items {
                            display: flex;
                            flex-direction: column;

                            .check__item {
                                display: flex;
                                align-items: center;
                                gap: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .grid__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;

        @media screen and (min-width: 768px) {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (min-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (min-width: 1200px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }


        .jobs__card {
            width: 100%;
            border: 1px solid #e0e6f7;
            overflow: hidden;
            margin-bottom: 24px;
            position: relative;
            background: #f8faff;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.85rem;
            padding: 1rem;
            transition: all .3s ease-in-out;
            cursor: pointer;

            &:hover{
                transform: scale(.95);
                border: 1px solid $primary;
            }

            @media screen and (min-width: 900px) {
                max-width: 320px;
            }

            .card__company {
                display: flex;
                align-items: flex-start;
                gap: 1rem;
                margin-bottom: 1rem;

                .card__logo {
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    img {
                        width: 3rem;
                        height: 3rem;
                        border-radius: 10px;
                        background-color: $secondary;
                    }

                    .company__info {
                        display: flex;
                        flex-direction: column;
                        gap: 0.25rem;

                        .company__name {
                            font-size: $font-eighteen;
                            font-weight: $font-weight-600;
                            color: $black;
                        }

                        .company__location {
                            font-size: $font-twelve;
                            color: $lightGray;
                            display: flex;
                            align-items: center;
                            gap: 3px;
                        }
                    }
                }

            }

            .card__info {
                .card__title {
                    font-size: $font-sixteen;
                    font-weight: $font-weight-600;
                    color: $black;
                }

                .card__flex {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 0.25rem;
                    gap: 1rem;

                    .card__location,
                    .card__time {
                        font-size: $font-twelve;
                        color: $lightGray;
                        display: flex;
                        align-items: center;
                        gap: 3px;
                    }
                }

                .card__description{
                    font-size: $font-fourteen;
                    color: $lightGray;
                    margin-top: .5rem;
                }

                .card__tags {
                    display: flex;
                    gap: 0.5rem;
                    margin-top: 1rem;

                    li {
                        width: fit-content;
                        padding: 0.15rem 0.5rem;
                        background: $accent;
                        color: $black;
                        font-size: $font-twelve;
                        text-align: center;
                        border-radius: 5px;
                    }
                }
            }

            .card__flex{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                // margin-top: 1rem;

                .company__pay {
                    color: $primary;
                    font-size: $font-eighteen;
                    font-weight: $font-weight-600;
                    line-height: 1.2;
                }
                .apply__button{
                    border: none;
                    background-color: $secondary;
                    color: $primary;
                    font-size: $font-sixteen;
                    font-weight: $font-weight-600;
                    padding: 0.5rem 1rem;
                    border-radius: 5px;
                    
                    &:hover{
                        background-color: $primary;
                        color: $white;
                        transform: none;
                    }
                }
            }
        }
    }

    .no__jobs {
        font-size: $font-sixteen;
        font-weight: $font-weight-600;
        color: $black;
        border: 1px dashed $primary;
        border-radius: 10px;
        padding: 2rem;
        width: 80vw;
        text-align: center;
        margin: 3rem auto;
    }
    
    .pagination{
        border: 1px solid $primary;
        border-radius: 10px;
        padding: .75rem;
        width: fit-content; 
        margin: 0 auto;
        margin-top: 2rem;
        display: flex;
        gap: 0.5rem;

        .pagination__button{
            border: none;
            background-color: transparent;
            font-size: $font-fourteen;
            font-weight: $font-weight-600;
            color: $black;
            cursor: pointer;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            transition: background-color 0.3s ease-in-out;

            &:hover{
                background-color: $primary;
                color: $white;
            }

            &:disabled{
                background-color: $primary;
                color: $white;
                cursor: not-allowed;
            }
        }

        .pagination__active{
            background-color: $primary;
            color: $white;
        }
    }
}
