@import "../../../app/global.scss";

.cta__section {
    width: 100%;
    padding: 6rem 0;
    background-color: $white;
    overflow: hidden;

    .cta__container {
        background-repeat: no-repeat;
        display: grid;
        place-items: center;
        align-content: center;
        width: 90%;
        margin: 0 auto;
        border-radius: 16px;
        max-width: 1140px;
        height: 400px;
        padding: 1rem;

        @media screen and (min-width: $breakpoint-2) {
        }

        .cta__description {
            display: grid;
            place-items: center;
            align-content: center;
            gap: 2rem;

            .description {
                text-align: center;
                font-family: $font-text;
                font-size: $font-twentyFour;
                font-weight: $font-weight-500;
                line-height: 1.2;
                color: $white;


                @media screen and (min-width: $breakpoint-3) {
                    font-size: $font-thirtyTwo;
                }

                @media screen and (min-width: $breakpoint-4) {
                    font-size: $font-fortyTwo;
                }
            }
            .cta__button {
                background-color: $white;
                color: $black;
                font-size: $font-twenty;
                font-weight: $font-weight-500;
                display: block;
                height: 4rem;
                width: 14rem;
                border-radius: 0.5rem;
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
            }
        }

    }
}
