@import "../../../app/global.scss";

.talentFeatures__section {
    padding: 2rem;
    margin: 3rem 0;
    border-radius: 16px;

    .features__container {
        display: grid;
        place-items: center;

        .features__cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2rem;
            width: 90%;
            margin: 2rem auto 0;
            
            @media screen and (min-width: $breakpoint-4) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }

            .card {
                background-color: #fafafa;
                box-shadow: $box-shadow-1;
                padding: 1rem;
                height: 270px;
                border-radius: 16px;
                display: grid;
                place-items: center;
                max-width: 300px;

                @media screen and (max-width: $breakpoint-4) {
                    width: 100%;
                }

                .features__card {
                    display: grid;
                    place-items: center;
                    align-content: center;
                    justify-content: center;
                    text-align: center;

                    .card__icon {
                        width: 70px;
                        height: 70px;
                        margin-bottom: 1rem;
                        color: $primary;
                    }

                    .card__title {
                        font-size: $font-twentyFour;
                        font-weight: 600;
                        margin-bottom: .5rem;
                        color: $black;
                    }
                    
                    .card__description {
                        font-size: $font-eighteen;
                        font-weight: 400;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}
