@import "../../../app/global.scss";

.featured__component {
    


    .featured__content {
        display: flex;
        flex-direction: column;

        .popular__post {
            width: 100%;
            height: 750px;
            margin-bottom: 5rem;
            border-radius: 10px;

            .popular__post_image {
                width: 100%;
                height: 350px;
                border-radius: 10px;
                margin-bottom: 1rem;
                object-fit: cover;

                @media screen and (min-width: $breakpoint-3) {
                    height: 550px;
                }
            }

            .popular__post_title {
                font-size: $font-twentyFour;
                font-weight: 600;
                margin: 1rem 0;

                @media screen and (min-width: $breakpoint-4) {
                    font-size: $font-thirtyTwo;
                }
            }

            .popular__post_text {
                font-size: $font-eighteen;
                font-weight: 400;
                margin-bottom: 1rem;

                @media screen and (min-width: $breakpoint-4) {
                    font-size: $font-twenty;
                }
            }

            .post__author_info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 1rem;

                .post__author {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .post__author_image {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        margin-right: 0.5rem;
                    }

                    .post__author_name {
                        font-size: $font-fourteen;
                        font-weight: 400;
                        margin-right: 0.5rem;
                    }
                }
            }

            .post__details {
                display: flex;
                align-items: center;

                .post__category {
                    font-size: $font-fourteen;
                    font-weight: 400;
                    margin-right: 0.5rem;
                }

                .post__minutes {
                    color: $lightGray;
                    font-size: $font-fourteen;
                    font-weight: 400;
                    margin-right: 0.5rem;
                }

                .post__date {
                    color: $lightGray;
                    font-size: $font-fourteen;
                    font-weight: 400;
                }
            }
        }

        .featured__posts {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: max-content;
            justify-content: space-between;
            gap: 2rem;
            margin-bottom: 1rem;

            @media screen and (min-width: $breakpoint-4) {
                grid-template-columns: 1fr 1fr;
            }

            .post {
                border-radius: 10px;
                border: 1px dashed $secondary;
                text-align: center;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    transform: scale(1, .98);
                }

                .post__image {
                    width: 100%;
                    height: 275px;
                    border-radius: 10px 10px 0 0;
                    margin-bottom: 1rem;
                    object-fit: cover;
                }

                .post__body {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    padding: 0.75rem;

                    .post__title {
                        text-align: left;
                        font-family: $font-text;
                        font-size: $font-twenty;
                        font-weight: 600;
                        margin-bottom: 1rem;

                        @media screen and (min-width: $breakpoint-4) {
                            font-size: $font-twentyFour;
                        }
                    }

                    .post__text {
                        text-align: left;
                        font-size: $font-sixteen;
                        font-weight: 400;
                    }

                    .post__wrap {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 1rem;

                        .post__author_image {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            margin-right: 0.5rem;
                        }

                        .post__info {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: space-between;

                            .post__author {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .post__author_name {
                                    font-size: $font-fourteen;
                                    font-weight: 400;
                                    margin-right: 0.15rem;
                                }
                            }

                            .post__details {
                                display: flex;
                                align-items: center;

                                .post__category {
                                    font-size: $font-fourteen;
                                    font-weight: 400;
                                }

                                .post__minutes {
                                    color: $lightGray;
                                    font-size: $font-fourteen;
                                    font-weight: 400;
                                }

                                .post__date {
                                    color: $lightGray;
                                    font-size: $font-fourteen;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
