@import "../../app/global.scss";

.testimonials__page {
    display: grid;
    place-items: center;
    margin-top: 2rem;

    .testimonials__container {
        padding: 1rem;
        margin: 0 auto;
        width: 90%;

        @media screen and (min-width: $breakpoint-3) {
            padding: 0rem;
        }

        .testimonials__slide {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            @media screen and (min-width: 680px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (min-width: $breakpoint-4) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            @media screen and (min-width: $breakpoint-5) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }

            @media screen and (min-width: $breakpoint-7) {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }

            .testimonials__content {
                width: 100%;
                max-width: 350px;
                background: $secondary;
                padding: 2rem;
                border-radius: 1rem;
                text-align: center;

                .icon__left {
                    display: flex;
                    margin-left: 0;
                    margin-right: auto;
                    margin-bottom: 8px;
                    color: $accent;
                }

                .content__img {
                    width: 100px;
                    height: 100px;
                    background-color: $border;
                    border-radius: 50%;
                    margin: 0 auto;
                    margin-bottom: 1rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                .icon__right {
                    display: flex;
                    margin-left: auto;
                    margin-right: 0;
                    margin-top: 5px;
                    color: $accent;
                }

                .testimonials__testimonial {
                    font-size: $font-eighteen;
                    margin-bottom: 10px;
                    line-height: 1.2;
                }

                .testimonials__name {
                    font-weight: $font-weight-600;
                }

                .testimonials__company {
                    font-size: $font-fourteen;
                    color: $lightGray;
                }
            }
        }

        .pagination{
            border: 1px solid $primary;
            border-radius: 10px;
            padding: .75rem;
            width: fit-content; 
            margin: 0 auto;
            margin-top: 3rem;
            display: flex;
            gap: 0.5rem;
    
            .pagination__button{
                border: none;
                background-color: transparent;
                font-size: $font-fourteen;
                font-weight: $font-weight-600;
                color: $black;
                cursor: pointer;
                padding: 0.5rem 1rem;
                border-radius: 5px;
                transition: background-color 0.3s ease-in-out;
    
                &:hover{
                    background-color: $primary;
                    color: $white;
                }
    
                &:disabled{
                    background-color: $primary;
                    color: $white;
                    cursor: not-allowed;
                }
            }
    
            .pagination__active{
                background-color: $primary;
                color: $white;
            }
        }
    }
}
