@import "../global.scss";

.registeration__form {
    background-color: #f5f5f5;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: grid;
    place-items: center;

    .registeration__form_container {
        width: 90%;
        height: 700px;
        overflow: scroll;
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        @media screen and (min-width: 600px) {
            width: 500px;
            margin: 1rem auto;
        }

        @media screen and (min-width: $breakpoint-4) {
            display: grid;
            grid-template-columns: 45% 55%;
            width: 90%;
            margin: 1rem auto;
        }

        @media screen and (min-width: $breakpoint-5) {
            max-width: 960px;
        }

        .registeration__signin {
            display: none;

            @media screen and (min-width: $breakpoint-4) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 2rem;
                border-radius: 10px 0 0 10px;
                background-color: $primary;
                background-image: $blue-bg;
                background-position: left;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .title {
                font-size: $font-thirtySix;
                font-family: $font-logo;
                font-weight: $font-weight-500;
                color: $white;
                line-height: $line-height-1-2;
                margin-top: 0.35rem;
                padding: 0;
                text-align: center;
            }

            .subtitle {
                font-size: $font-eighteen;
                font-weight: $font-weight-400;
                color: $white;
                text-align: center;
                line-height: $line-height-1-2;
                margin-top: 0.75rem;
                padding: 0;
            }

            .signin__btn {
                display: none;
                background-color: transparent;
                color: $white;
                font-size: $font-twenty;
                font-weight: $font-weight-400;
                width: 14rem;
                height: 3.5rem;
                font-weight: 400;
                padding: 0.75rem;
                margin-top: 1.5rem;
                border: 1px solid $white;
                border-radius: 10px;
                cursor: pointer;
                transition: all 300ms ease-in-out;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;

                &:hover {
                    transform: scale(0.95, 1);
                }
            }
        }

        .registeration__signup {
            background-color: $white;
            border-radius: 10px;

            @media screen and (min-width: $breakpoint-6) {
                border-radius: 0 10px 10px 0;
            }

            .registeration__tabs {
                display: flex;
                justify-content: space-between;
                width: 100%;

                .tab {
                    width: 50%;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                    display: grid;
                    place-items: center;
                    padding: 1rem;
                    border-radius: 3px;
                    cursor: pointer;
                }

                .active {
                    background-color: $secondary;
                }
            }

            .signup__form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                padding: 3rem;
                gap: 1rem;

                @media screen and (min-width: $breakpoint-3) {
                    padding: 2rem;
                }

                @media screen and (min-width: $breakpoint-6) {
                    padding: 2rem 4rem;
                }

                .header {
                    margin-bottom: 1rem;

                    .title {
                        font-size: $font-forty;
                        font-family: $font-logo;
                        font-weight: $font-weight-500;
                        color: $primary;
                        text-align: center;
                        line-height: $line-height-1-2;
                        padding: 0;
                    }

                    .subtitle {
                        font-size: $font-sixteen;
                        font-weight: $font-weight-400;
                        color: $gray;
                        text-align: center;
                        line-height: $line-height-1-2;
                        padding: 0;
                    }
                }

                .form__wrap {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .input__field {
                        width: 100%;
                        height: 3.5rem;
                        background-color: #ebedf8e8;
                        border-radius: 10px;
                        border: none;
                        padding: 1rem;
                        margin-bottom: 1rem;
                        font-size: $font-sixteen;
                        font-weight: $font-weight-400;
                        color: $black;
                        line-height: $line-height-1-2;
                        transition: all 0.3s ease-in-out;

                        &:focus {
                            border: 1px solid $primary;
                        }

                        &::placeholder {
                            color: $lightGray;
                        }
                    }

                    .signup__btn {
                        background-color: $primary;
                        color: $white;
                        font-size: $font-twenty;
                        font-weight: $font-weight-400;
                        width: 100%;
                        height: 3.5rem;
                        font-weight: 400;
                        padding: 0.75rem;
                        border-radius: 10px;
                        margin-top: 1rem;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;

                        &:hover {
                            transform: scale(0.95, 1);
                        }
                    }

                    .checkbox__field{
                        display: flex;
                        gap: .5rem;
                        align-items: flex-start;
                        justify-content: center;

                        input{
                            margin-top: 2px;
                        }

                        label{
                            font-size: $font-fourteen;
                            font-weight: $font-weight-400;
                            color: $gray;
                            text-align: left;
                            line-height: 1.2;
                        }
                    }

                    .signin__info {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        margin-top: 0.75rem;

                        .text {
                            font-size: $font-fourteen;
                            font-weight: $font-weight-400;
                            color: $gray;
                            margin-right: 0.5rem;
                        }

                        .signin__text {
                            color: $primary;
                            cursor: pointer;
                            font-size: $font-fourteen;
                            font-weight: $font-weight-400;
                        }
                    }
                }

                .socials__signin {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    margin: 0 auto;

                    .google__signin_btn,
                    .facebook__signin_btn {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
