@import '../../..app/global.scss';

.account__menu {
    width: 140px;
    height: fit-content;
    padding: 1rem;
    background-color: $white;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
    border-radius: 10px;


    .dropdown__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        .dropdown__link {

            .link{
                display: flex;
                align-items: center;
                font-weight: $font-weight-400;
                font-size: $font-fourteen;

                &:hover{
                    color: $primary;
                }

            }

        }
    }
}
