@import "../../../app/global.scss";

.privacy__page {
    width: 90%;
    margin: 2rem auto;

    .privacy__container {
        
        @media screen and (min-width: $breakpoint-4) {
            padding: 2rem;
        }
        
        .privacy__header {
            margin-bottom: 2rem;
            
            .privacy__title {
                @include title;
            }
        }
        
        .privacy__content {
            margin-left: 1rem;
            .privacy__list {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .list__item {
                    &::marker {
                        font-size: $font-twenty;
                        font-weight: $font-weight-600;
                    }

                    .list__head {
                        font-size: $font-twenty;
                        font-weight: $font-weight-600;
                        color: $black;
                    }

                    p{
                        font-size: $font-sixteen;
                        margin-top: .5rem;
                    }
                }

            }
        }
        .buttons__wrap{
            display: flex;
            gap: 1rem;
            margin-top: 2rem;

            .accept__btn{
                @include button;
                width: 10rem;
            }

            .close__btn{
                @include button;
                width: 10rem;
                background-color: $accent;
                color: $black;

                &:hover{
                    background: darken($accent , 10%);
                }
            }
        }
    }
}
