@import "daisyui/dist/full.css";

/* Define CSS variables with the minutheme colors */
:root {
  --primary: theme('colors.minutheme.primary');
  --secondary: theme('colors.minutheme.secondary');
  --accent: theme('colors.minutheme.accent');
  --neutral: theme('colors.minutheme.neutral');
  --white: theme('colors.minutheme.white');
  --black: theme('colors.minutheme.black');
  --gray: theme('colors.minutheme.gray');
  --lightGray: theme('colors.minutheme.lightGray');
  --border: theme('colors.minutheme.border');
  --offWhite: theme('colors.minutheme.offWhite');

  --font-logo: 'Megan', sans-serif;
}

/* Add your custom global styles here */

@font-face {
    font-family: 'Megan';
    src: url('../public/assets/font/megan-font/Megan.woff2') format('woff2'),
         url('../public/assets/font/megan-font/Megan.woff') format('woff');
}

