@import "../../../app/global.scss";

.employmentInfo__section {
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    border: 1px solid $neutral;
    border-radius: 10px;

    .info__header {
        display: block;

        .info__title {
            font-size: $font-twentyFour;
            font-weight: $font-weight-600;
            color: $black;
            border-bottom: 1px solid $neutral;
            padding-bottom: .5rem;
        }
    }

    .info__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1.5rem;
        gap: 1rem;
        
        .info__item {
            display: grid;
            grid-template-columns: 32% 65%;
            align-content: center;
            gap: 1rem;
    
            .info__left {
                display: flex;
                align-items: center;
                gap: 0.5rem;
    
                .info__icon {
                    line-height: 0;
                    font-weight: $font-weight-600;
                    color: #66789c;
                }
    
                .info__title {
                    font-size: $font-fourteen;
                    font-weight: $font-weight-500;
                    color: #66789c;
                }
            }
    
            .info__right {
                
                .info__text{
                    font-size: $font-fourteen;
                    font-weight: $font-weight-500;
                    color: $black;

                }
            }
        }
    }
}
