@import "../../../../app/global.scss";

.inactiveJobs__section {
    .inactiveJobs__container{
        .section__header{
            margin-bottom: 2rem;
        }

        .jobPosting {
            box-shadow: 1px -1px 10px 0px rgb(100 100 100 / 15%);
            padding: 1rem;
            border-radius: 10px;
    
            .jobPosting__header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2rem;
    
                .jobPosting__title {
                    font-size: $font-twentyFour;
                    color: $black;
                }
    
                .activate__button {
                    width: 7rem;
                    height: 2.5rem;
                    background: $primary;
                    color: $white;
                    padding: 0.5rem;
                    font-size: $font-sixteen;
                    font-weight: $font-weight-500;
                    border-radius: 10px;
                    display: grid;
                    place-items: center;

                    @media screen and (max-width: $breakpoint-3) {
                        font-size: $font-eighteen;
                    }
                }
            }

            .job__description{
                margin-bottom: 1rem;

                .job__subtitle{
                    font-size: $font-sixteen;
                    font-weight: $font-weight-500;
                    color: $black;
                    margin-bottom: 0.5rem;
                }

                .job__text{
                    font-size: $font-sixteen;
                    color: $lightGray;
                    margin-bottom: 0.5rem;
                }
            }
    
            .post__column{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
                margin-bottom: 1rem;

                .post__container{
                    
                    .jobPosting__subtitle {
                        font-size: $font-sixteen;
                        font-weight: $font-weight-500;
                        color: $black;
                        margin-bottom: 0.5rem;
                    }
                    
                    .jobPosting__text {
                        font-size: $font-sixteen;
                        color: $lightGray;
                        margin-bottom: 0.5rem;
                    }
    
                    .jobPosting__listItem {
                        margin-left: 1rem;
        
                        li {
                            font-size: $font-sixteen;
                            color: $lightGray;
                            margin-bottom: 0.5rem;
                            list-style: circle;
                        }
                    }
                }
            }

            .post__row{
                .post__container{
                    
                    .jobPosting__subtitle {
                        font-size: $font-sixteen;
                        font-weight: $font-weight-500;
                        color: $black;
                        margin-bottom: 0.5rem;
                    }
                    
                    .jobPosting__text {
                        font-size: $font-sixteen;
                        color: $lightGray;
                        margin-bottom: 0.5rem;
                    }
    
                    .jobPosting__listItem {
                        margin-left: 1rem;
        
                        li {
                            font-size: $font-sixteen;
                            color: $lightGray;
                            margin-bottom: 0.5rem;
                            list-style: circle;
                        }
                    }
                }
            }
    
            .jobPosting__actions {
                background-color: $accent;
                border-radius: 10px;
                padding: 1rem;
    
                .candidate__info {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .total__candidates {
                        font-size: $font-sixteen;
                        color: $black;
                    }

                    .view__button {
                        color: $primary;
                        font-size: $font-sixteen;
                        font-weight: $font-weight-500;
                        background: none;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
