@import "../../../app/global.scss";

.authorized__footer {
    background-color: transparent;
    color: $white;
    text-align: center;
    font-size: 12px;
    width: 100%;

    .footer__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        max-width: 1140px;
        width: 90%;
        margin: 2rem auto 0;

        .footer__right {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (min-width: $breakpoint-4) {
                width: 50%;
                justify-content: flex-start;
                gap: 2rem;

                .logo {
                    display: none;
                }
            }

            .logo__name {
                font-family: $font-logo;
                font-size: $font-fourteen;
                font-weight: $font-weight-500;
                color: $primary;
            }
        }
        .footer__left {
            font-size: $font-twelve;
            font-weight: $font-weight-400;
            text-align: right;
            width: 50%;
            color: $lightGray;
        }
    }
}
